---
layout: va
---

<style></style>

<!-- ================================================== -->
<!--                 Headers and Titles                 -->
<!-- ================================================== -->

<h1 class="page-title">Choosing a School</h1>

<!-- Skip to Nav from VA templdate -->
<span style="position:absolute;"><a name="main-content" id="main-content">&nbsp;</a></span>

<div class="timeline">
  <hr>

  <div class="box">
    <span>EXPLORE<br>YOUR CAREER</span>
    <a href="http://www.benefits.va.gov/gibill/careerscope.asp" onclick="track('Timeline', 'Explore Your Career');" target="_blank">
      <div class="icon">
        <img id="icon-explore" src="img/explore-normal.png" alt="explore your career">
      </div>
      <span>CareerScope</span>
    </a>
  </div>

  <div class="box">
    <span>COMPARE<br>SCHOOLS</span>
    <a href="#">
      <div class="icon">
        <img id="icon-compare" src="img/compare-hover.png" alt="compare schools">
      </div>
      <span>GI Bill<br>Comparison Tool</span>
    </a>
  </div>

  <div class="box">
    <span>CHOOSE<br>A SCHOOL</span>
    <a href="http://www.benefits.va.gov/gibill/choosing_a_school.asp" onclick="track('Timeline', 'Choose a School');" target="_blank">
      <div class="icon">
        <img id="icon-choose" src="img/choose-normal.png" alt="choose a school">
      </div>
      <span>Decision Guide</span>
    </a>
  </div>

  <div class="box">
    <span>APPLY FOR<br>GI BILL</span>
    <a href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal?_nfpb=true&_nfxr=false&_pageLabel=Vonapp" onclick="track('Timeline', 'Apply for GI Bill');" target="_blank">
      <div class="icon">
        <img id="icon-apply" src="img/apply-normal.png" alt="apply for GI Bill">
      </div>
      <span>VONAPP</span>
    </a>
  </div>

  <div class="box">
    <span>SUCCEED<br>IN SCHOOL</span>
    <a href="http://www.benefits.va.gov/vocrehab/edu_voc_counseling.asp" onclick="track('Timeline', 'Succeed in School');" target="_blank">
      <div class="icon">
        <img id="icon-succeed" src="img/succeed-normal.png" alt="succeed in school">
      </div>
      <span>Educational<br>Counseling</span>
    </a>
  </div>

  <div class="box">
    <span>FIND<br>EMPLOYMENT</span>
    <a href="https://www.ebenefits.va.gov/ebenefits/jobs" onclick="track('Timeline', 'Find Employment');" target="_blank">
      <div class="icon">
        <img id="icon-employ" src="img/employ-normal.png" alt="find employment">
      </div>
      <span>Employment Center</span>
    </a>
  </div>
</div>

<div class="heading solid orange"><h3>GI Bill<sup>&reg;</sup> Comparison Tool</h3></div>

<p style="padding: .5em .75em; 1em .75em;">Calculate your benefits and research approved programs.</p>

<!-- Accessibility documentation for filling out form -->
<div class="hidden">
  <p>Answer just a few questions about yourself and the school/employer you are considering and you’ll receive an estimate of your GI Bill benefits and some information about the facility’s value and affordability. The only required field for the comparison tool to work is the school/employer name. For more information about how the tool works, visit <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp" target="_blank">this link</a>. For more information about accessibility features visit <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accessibility" target="_blank">this link.</a></p>
</div>

<!-- <div class="right-content"> -->

  <!-- ================================================== -->
  <!--                 Eligibility Section                -->
  <!-- ================================================== -->

  <div class="heading solid navy table"><h3>Tell us about yourself.</h3></div>

  <div id="about-yourself" style="padding-top: 1.5em;">


  <!-- Military Status -->
  <div class="form-group top-aligned">
    <label for="military-status">Military Status: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#militarystatus" onclick="track('Tool Tips', 'Eligibility / Military Status');" target="_blank" class="info-link" aria-describedby="military-status-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on military status</span></a></label>
    <span class="aria-tooltip" id="military-status-tooltip" role="tooltip">Post 9/11 GI Bill recipients serving on Active Duty (or transferee spouses of a servicemember on active duty) are not eligible to receive a monthly housing allowance.</span>
    <select id="military-status" name="Military Status" alt="Select military status">
      <option value="veteran">Veteran</option>
      <option value="active duty">Active Duty</option>
      <option value="national guard / reserves">National Guard / Reserves</option>
      <option value="spouse">Spouse</option>
      <option value="child">Child</option>
    </select>
  </div>

  <!-- Spouse on Active Duty -->
  <div id="spouse-active-duty-form" class="form-group">
    <span class="question">Is your husband or wife on active duty?</span>

    <label class="radio" for="spouse-active-duty-yes">Yes</label>
    <input id="spouse-active-duty-yes" name="Spouse Active Duty" type="radio" value="yes">

    <label class="radio" for="spouse-active-duty-no">No</label>
    <input id="spouse-active-duty-no" name="Spouse Active Duty" type="radio" value="no" checked>
  </div>

  <!-- GI Bill Chapter Being Used -->
  <div id="gi-bill-chapter-form" class="form-group top-aligned">
    <label for="gi-bill-chapter">Which GI Bill benefit are you thinking of using? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#gi_bill_chap" onclick="track('Tool Tips', 'Eligibility / GI Bill Chapter');" target="_blank" class="info-link" aria-describedby="gi-bill-chapter-tooltip">i</a></label>
    <span class="aria-tooltip" id="gi-bill-chapter-tooltip" role="tooltip">Be sure to compare the different GI Bill programs before selecting which one is more beneficial to your needs.</span>
    <select id="gi-bill-chapter" name="Type of GI Bill Benefits" alt="Select which GI Bill benefit you are thinking of using">
      <option value="33" selected>Post-9/11 GI Bill (Ch 33)</option>
      <option value="30">Montgomery GI Bill (Ch 30)</option>
      <option value="1606">Select Reserve GI Bill (Ch 1606)</option>
      <option value="1607">REAP GI Bill (Ch 1607)</option>
      <option value="31">Vocational Rehabilitation & Employment (VR&E)</option>
      <option value="35">Dependents Educational Assistance (DEA)</option>
    </select>
  </div>

<div class="form-group top-aligned" id="voc-rehab-warning">To apply for VR&E benefits, please <a href="http://vabenefits.vba.va.gov/vonapp/main.asp" onclick="track('Tool Tips', 'Voc Rehab Warning');" target="_blank">visit this site.</a></div>

  <!-- Also eligible for Post-9/11 GI Bill -->
  <div id="elig-for-post-gi-bill-form" class="form-group">
    <span class="question">Are you eligible for the Post-9/11 GI Bill?<a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#vre_post911_eligible" onclick="track('Tool Tips', 'Eligibility / VR&E Post 9/11 Eligible');" target="_blank" class="info-link" aria-describedby="post911-eligible-tooltip">i</a></span>
    <span class="aria-tooltip" id="post911-eligible-tooltip" role="tooltip">You must have at least 90 days of aggregate active duty service after 9/10/2001, or have been discharged with a service-connected disability and have received an honorable discharge.</span>

    <label class="radio" for="elig-for-post-gi-bill-yes">Yes</label>
    <input id="elig-for-post-gi-bill-yes" name="Post 9-11 GI Bill Eligible" type="radio" value="yes">

    <label class="radio" for="elig-for-post-gi-bill-no">No</label>
    <input id="elig-for-post-gi-bill-no" name="Post 9-11 GI Bill Eligible" type="radio" value="no" checked>
  </div>


  <!-- Cumulative Post 9-11 Active Duty Service -->
  <div id="cumulative-service-form" class="form-group top-aligned">
    <label for="cumulative-service">Cumulative Post 9-11 Active Duty Service: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#cumulativeservice" onclick="track('Tool Tips', 'Eligibility / Cumulative Service');" target="_blank" class="info-link" aria-describedby="cumulative-service-tooltip">i</a></label>
    <span class="aria-tooltip" id="cumulative-service-tooltip" role="tooltip">The Post-9/11 GI Bill provides financial support for education and a housing allowance to qualifying individuals </span>
    <select id="cumulative-service" name="Cumulative Post 9-11 Active Duty Service" alt="Select amount of cumulative Post 9-11 Active Duty Service">
      <option value="1.0">36+ months: 100% (includes BASIC)</option>
      <option value="0.9">30 months: 90% (includes BASIC)</option>
      <option value="0.8">24 months: 80% (includes BASIC)</option>
      <option value="0.7">18 months: 70% (excludes BASIC)</option>
      <option value="0.6">12 months: 60% (excludes BASIC)</option>
      <option value="0.5">6 months: 50% (excludes BASIC)</option>
      <option value="0.4">90 days: 40% (excludes BASIC)</option>
      <option value="0.0">Less than 90 days 0% (excludes BASIC)</option>
      <option value="1.0">GYSGT Fry Scholarship: 100%</option>
      <option value="service discharge">Service-Connected Discharge: 100%</option>
    </select>
  </div>


  <!-- Number of Dependents -->
  <div id="number-of-dependents-form" class="form-group top-aligned">
    <label for="number-of-dependents">Number of Dependents <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#number_of_dependents" onclick="track('Tool Tips', 'Eligibility / VR&E # of Deoendents');" target="_blank" class="info-link" aria-describedby="number-of-dependents-tooltip">i</a></label>
    <span class="aria-tooltip" id="number-of-dependents-tooltip" role="tooltip">A dependent is defined as a child, stepchild, spouse, or the un-remarried widow(er) of the Veteran.</span>
    <select id="number-of-dependents" name="Number of Dependents" alt="Select the number of dependents you have">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>


  <!-- Enlistment Length -->
  <div id="enlistment-service-form" class="form-group top-aligned">
    <label for="enlistment-service">Completed an enlistment of: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#mgib_enlistment" onclick="track('Tool Tips', 'Eligibility / MGIB Enlistment Length');" target="_blank" class="info-link" aria-describedby="enlistment-service-tooltip">i</a></label>
    <span class="aria-tooltip" id="enlistment-service-tooltip" role="tooltip">When using this tool, you will need to select the length of your original active duty enlistment obligation in order to get an estimate of your monthly benefit.</span>
    <select id="enlistment-service" name="Enlistment" alt="Select length of your enlistment">
      <option value="3">3 or more years</option>
      <option value="2">2 or more years</option>
    </select>
  </div>

  <!-- Consecutive Active Duty Service -->
  <div id="consecutive-service-form" class="form-group top-aligned">
    <label for="consecutive-service">Length of Longest Active Duty Tour: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp##reap_longest_tour" onclick="track('Tool Tips', 'Eligibility / REAP Consecutive Service');" target="_blank" class="info-link" aria-describedby="consecutive-service-tooltip">i</a></label>
    <span class="aria-tooltip" id="consecutive-service-tooltip" role="tooltip">Pays benefits to eligible Reservists or Guard members who were called or ordered to active duty for at least 90 consecutive days in response to a war or national emergency declared by the President or Congress.</span>
    <select id="consecutive-service" name="Longest Consecutive Active Duty Tour" alt="Select the length of your longest actice duty tour">
      <option value="0.8">2+ years of consecutive service: 80%</option>
      <option value="0.6">1+ year of consecutive service: 60%</option>
      <option value="0.4">90+ days of consecutive service: 40%</option>
    </select>
  </div>

</div>

  <div class="clear"></div>

  <!-- ================================================== -->
  <!--       School / Employer Information Section        -->
  <!-- ================================================== -->

  <!-- School Name Search -->
  <a name="about_your_school"></a>
  <div class="heading solid navy table"><h3>About your school:</h3></div>
  <div id="your-school" style="padding-top: 1.5em;">
  <div class="form-group" style="float:left;">
    <div class="ui-widget" aria-controls="benefit-estimator">
      <label class="institution-search-label" for="institution-search">Enter a school or employer name to search:</label>
      <input id="institution-search" placeholder="Search by School or Employer Name" title="Enter school/employer name"><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#schoolname" onclick="track('Tool Tips', 'Institution Search');" target="_blank" class="info-link" aria-describedby="institution-search-tooltip">i</a>
      <span class="aria-tooltip" id="institution-search-tooltip" role="tooltip">You can use the Post-9/11 GI Bill at colleges, universities, trade schools, and for on-the-job training, apprenticeship, and flight schools.</span>
      <div>
        <a href="#advancedsearch">Advanced search</a>
      </div>
    </div>
  </div>


  <div class="clear"></div>

  <!-- Online classes -->
  <div id="online-classes" class="form-group">
    <span class="question">Taking all online classes?</span>

    <label class="radio" for="online-classes-yes">Yes</label>
    <input id="online-classes-yes" name="Online Courses" type="radio" value="yes">

    <label class="radio" for="online-classes-no">No</label>
    <input id="online-classes-no" name="Online Courses" type="radio" value="no" checked>
  </div>

</div>

  <div class="clear"></div>



  <!-- ================================================== -->
  <!--                  Benefit Estimator                 -->
  <!-- ================================================== -->

  <a name="benefit-estimator"></a>
  <div id="benefit-estimator" aria-controls="calculated-benefits">

    <div class="heading solid navy table"><h3>Benefit Estimator</h3></div>

    <table class="dark-background inactive" aria-live="assertive" aria-relevant="additions removals">
      <tbody>
        <tr><td colspan="2"></td></tr>
        <tr>
          <td id="institution" colspan="2"></td>
<!--      <td id="rating">
            <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#feedback_ratings" onclick="track('Tool Tips', 'Benefit Estimator / Ratings Coming Soon');" target="_blank" ><img src="img/rating.png" alt="coming soon: school ratings" class="rating" /></a>
          </td> -->
        </tr>
        <tr>
          <td id="location" class="normal"></td>
          </td>
        </tr>
        <tr>
          <td id="type" class="normal"></td>
        </tr>
        <tr class="estimated-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuitionfees" onclick="track('Tool Tips', 'Benefit Estimator / Tuition Fees');" target="_blank" alt="Click here for more information about the tuition/fees benefit." title="VA pays the in-state tuition & fee rate at public schools. Private and foreign schools are capped at the national maximum rate. ">Tuition / Fees Benefit:</a></th>
          <td id="tuition-fees">$ / year</td>
        </tr>
        <tr class="estimated-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#housingallowance" onclick="track('Tool Tips', 'Benefit Estimator / Housing Allowance');" target="_blank" alt="Click here for more information about the housing allowance." title="Housing Allowance is the same as the military’s Basic Allowance for Housing  for an E-5 with dependents and is based on the ZIP code for your school.">Housing Allowance:</a></th>
          <td id="housing-allowance">$ / month</td>
        </tr>
        <tr class="estimated-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#bookstipend" onclick="track('Tool Tips', 'Benefit Estimator / Book Stipend');" target="_blank" alt="Click here for more information about the book stipend." title="A yearly book and supplies stipend of up to $1,000 paid proportionately based on enrollment.">Book Stipend:</a></th>
          <td id="book-stipend">$ / year</td>
        </tr>
        <tr class="estimated-row">
          <th id="only-tuition-fees" colspan="2">*Payment is limited to reimbursement of tuition and fees for the training taken</th>
        </tr>
        <tr class="estimated-row">
          <td colspan="2"></td>
        </tr>
        <tr class="estimated-row">
          <td>
            <div  id="add-to-favorites" class="checkbox">
              <span>
              <label>
                <input type="checkbox" id="add-favorite-school-checkbox" onclick="processFavoriteSchool();">Compare this school</input>
              </label>
            </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a name="calculator"></a>
  <div id="calculator">
    <div class="heading solid navy table">
      <h3>Your calculated benefits</h3>
    </div>
    <div class="benefits">
    <div id="benefit-calculator">
      <h4>Calculate your complete benefit</h4>

      <div id="tuition-fees-section">
        <div id="in-state" class="form-group">
          <label class="question">In-state student? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#in_state_residency" onclick="track('Tool Tips', 'Calculator / In-State Student');" target="_blank" class="info-link" aria-describedby="in-state-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information about in-state tuition</span></a></label>
          <span class="aria-tooltip" id="in-state-tooltip" role="tooltip">In-state residents are charged a discounted rate of tuition and fees.</span>
          
          <label class="radio" for="in-state-yes">Yes</label>
          <input id="in-state-yes" name="In-state" type="radio" value="yes" checked=""/>
          <label class="radio" for="in-state-no">No</label>
          <input id="in-state-no" name="In-state" type="radio" value="no"/>
        </div>

        <div id="tuition-fees-form" class="form-group top-aligned">
          <label for="tuition-fees-input">Tuition / Fees (/year): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuition_fees_input" onclick="track('Tool Tips', 'Calculator / Tuition Fees');" target="_blank" class="info-link" aria-describedby="tuition-fees-input-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information about tuition fees</span></a></label>
          <span class="aria-tooltip" id="tuition-fees-input-tooltip" role="tooltip">Enter the total tuition/fees, you will be charged for the academic year.</span>
          <input id="tuition-fees-input" type="text" value="$0" name="Tuition Fees" alt="Tuition Fees"/>
        </div>


        <div id="in-state-tuition-fees-form" class="form-group top-aligned">
          <label for="in-state-tuition-fees">In-state Tuition / Fees (/year): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#in_state_residency" onclick="track('Tool Tips', 'Calculator / In-State Tuition Fees');" target="_blank" class="info-link" aria-describedby="in-state-tuition-fees-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on how in-state tuition costs</span></a></label>
          <span class="aria-tooltip" id="in-state-tuition-fees-tooltip" role="tooltip">In-state residents are charged a discounted rate of tuition and fees.</span>
          <input id="in-state-tuition-fees" type="text" value="$0" name="In-state Tuition Fees" alt="In-state Tuition Fees">
        </div>

        <div id="books-input-row">
          <label for="books-input">Books / Supplies (/year): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#books_input" onclick="track('Tool Tips', 'Calculator / Books & Supplies');" target="_blank" class="info-link" aria-describedby="books-input-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on how much books cost</span></a></label>
          <span class="aria-tooltip" id="books-input-tooltip" role="tooltip">How much will you spend on books and supplies next year?</span>
          </label>
          <div>
            <input id="books-input" type="text" value="$0" name="Books" alt="Books"/>
          </div>
        </div>

        <div id="yellow-ribbon-recipient-form">
          <label class="question">Receiving Yellow Ribbon?
            <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_from_school" onclick="track('Tool Tips', 'Calculator / Receiving Yellow Ribbon');" target="_blank" class="info-link" aria-describedby="yellow-ribbon-recipient-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on receiving yellow ribbon benefits</span></a></label>
            <span class="aria-tooltip" id="yellow-ribbon-recipient-form-tooltip" role="tooltip"> Only Veterans entitled to the maximum benefit rate (based on service requirements) or their designated transferees may receive this funding. Active duty Servicemembers and their spouses are not eligible.</span>
          </label>
          <label class="radio" for="yellow-ribbon-recipient-yes">Yes</label>
          <input id="yellow-ribbon-recipient-yes" name="Receiving Yellow Ribbon" type="radio" value="yes">
          <label class="radio" for="yellow-ribbon-recipient-no">No</label>
          <input id="yellow-ribbon-recipient-no" name="Receiving Yellow Ribbon" type="radio" value="no" checked>
        </div>

        <div id="yellow-ribbon-amount-form" class="form-group top-aligned">
          <!-- Yellow Ribbon Amount -->
          <label for="yellow-ribbon-amount">Yellow Ribbon Amount From School (/year): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_from_school" onclick="track('Tool Tips', 'Calculator / Yellow Ribbon Amount');" target="_blank" class="info-link" aria-describedby="yellow-ribbon-amount-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on yellow ribbon benefits</span></a></label>
          <span class="aria-tooltip" id="yellow-ribbon-amount-tooltip" role="tooltip">VA matches each dollar of unmet charges the institution agrees to contribute up to the total cost of tuition and fees.</span>
          <input id="yellow-ribbon-amount" type="text" value="$0" name="Yellow Ribbon Amount From School" alt="Yellow Ribbon Amount From School">
        </div>

        <div id="yellow-ribbon-rates-link" class="form-group"></div>

        <div id="scholarship-amount-form" class="form-group top-aligned">
          <label for="scholar">Scholarships (not Pell): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#scholarships" onclick="track('Tool Tips', 'Calculator / Scholarships');" target="_blank" class="info-link" aria-describedby="scholar-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on scholarships</span></a></label>
          <span class="aria-tooltip" id="scholar-tooltip" role="tooltip">Only include scholarships and grants that go directly to pay tuition/fees.</span>
          <input id="scholar" type="text" value="$0" name="Scholarships (not Pell)" alt="How much are you receiving in scholarships and not Pell grants"/>
        </div>
      </div>

      <div id="tuition-assist-form" class="form-group top-aligned">
        <label for="tuition-assist">Military Tuition Assistance: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#military_tuition_assist" onclick="track('Tool Tips', 'Calculator / Military Tuition Assistance');" target="_blank" class="info-link" aria-describedby="tuition-assist-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on military tuition assistance</span></a></label>
        <span class="aria-tooltip" id="tuition-assist-form-tooltip" role="tooltip">The Post-9/11 GI Bill pays the net-cost of your education after scholarships or financial aid amounts are applied. This includes amounts already paid by military tuition assistance.</span>
        <input id="tuition-assist" type="text" value="$0" name="Military Tuition Assistance" alt="How much are you receiving in military tuition assistance">
      </div>


      <div id="enrollment-section">
        <div id="enrolled-form">
            <label for="enrolled">Enrolled: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#rate_of_pursuit" onclick="track('Tool Tips', 'Calculator / Enrolled');" target="_blank" class="info-link" aria-describedby="enrolled-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on enrollment</span></a></label>
            <span class="aria-tooltip" id="enrolled-tooltip" role="tooltip">Students attending school less then full-time receive a pro-rated monthly housing allowance. Students attending school exactly ½ time or less do not receive a monthly housing allowance.</span>
              <div>
              <select id="enrolled" name="Enrolled" alt="Select your enrollment level">
                <option value="1.0">Full Time</option>
                <option value="0.8">¾ Time</option>
                <option value="0.6">More than ½ time</option>
                <option value="0">½ Time or less</option>
              </select>
            </div>
        </div>

        <!-- Rate of Pursuit Old -->
        <div id="enrolled-form-old-gi-bill">
            <label for="enrolled-old">Enrolled: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#rate_of_pursuit_old" onclick="track('Tool Tips', 'Calculator / Enrolled Old');" target="_blank" class="info-link" aria-describedby="enrolled-old-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on enrollment</span></a></label>
            <span class="aria-tooltip" id="enrolled-old-tooltip" role="tooltip">Students attending school less than full-time receive a pro-rated monthly benefit.</span>
              <div>
              <select id="enrolled-old" name="Enrolled" alt="Select your enrollment level">
                <option value="full">Full Time</option>
                <option value="three quarter">¾ Time</option>
                <option value="half">1/2 Time </option>
                <option value="less than half">Less than ½ time more than ¼ time</option>
                <option value="quarter">1/4 time or less</option>
              </select>
            </div>

        </div>
        <div id="calendar-form">
            <label for="calendar">School Calendar: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'Calculator / School Calendar');" target="_blank" class="info-link"aria-describedby="calendar-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on school calendars</span></a></label>
            <span class="aria-tooltip" id="calendar-tooltip" role="tooltip">Is your school on a semester, quarter or non-traditional calendar system?</span>
            <div>
              <select id="calendar" name="School Calendar" alt="Select type of school calendar">
                <option value="semesters">Semesters</option>
                <option value="quarters">Quarters</option>
                <option value="nontraditional">Non-Traditional</option>
              </select>
            </div>
        </div>

        <div id="working-form" class="form-group top-aligned">
            <label for="working">Will be working: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#rate_of_pursuit_ojt" onclick="track('Tool Tips', 'Calculator / Will Be Working');" target="_blank" class="info-link" aria-describedby="working-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on working</span></a></label>
            <span class="aria-tooltip" id="working-tooltip" role="tooltip">How many hours per week will you be working?</span>
            <select id="working" name="Will be working" alt="Select how much you will be working">
              <option value="30">30+ hrs / week</option>
              <option value="28">28 hrs / week</option>
              <option value="26">26 hrs / week</option>
              <option value="24">24 hrs / week</option>
              <option value="22">22 hrs / week</option>
              <option value="20">20 hrs / week</option>
              <option value="18">18 hrs / week</option>
              <option value="16">16 hrs / week</option>
              <option value="14">14 hrs / week</option>
              <option value="12">12 hrs / week</option>
              <option value="10">10 hrs / week</option>
              <option value="8">8 hrs / week</option>
              <option value="6">6 hrs / week</option>
              <option value="4">4 hrs / week</option>
              <option value="2">2 hrs / week</option>
            </select>
        </div>
        <div id="number-non-traditional-terms-form" class="form-group top-aligned">
            <label for="number-non-traditional-terms">How many terms / year? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'How Many Terms');" target="_blank" class="info-link" aria-describedby="number-non-traditional-terms-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on non traditional terms</span></a></label>
            <span class="aria-tooltip" id="number-non-traditional-terms-tooltip" role="tooltip">How many academic terms are there in a school year?</span>
            <select id="number-non-traditional-terms" name="How many terms / year?" alt="Select how many terms / year?">
              <option value="3">Three</option>
              <option value="2" selected>Two</option>
              <option value="1">One</option>
            </select>
        </div>
        <div id="length-non-traditional-terms-form" class="form-group top-aligned">
            <label for="length-non-traditional-terms">How long is each term? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'Calculator / Non-Traditional Term Length');" target="_blank" class="info-link" aria-describedby="length-non-traditional-terms-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on length of academic term?</span></a></label>
            <span class="aria-tooltip" id="length-non-traditional-terms-tooltip" role="tooltip">How long is each academic year?</span>
            <select id="length-non-traditional-terms" name="How long is each term?" alt="Select how long is each term?">
              <option value="1">1 month</option>
              <option value="2">2 months</option>
              <option value="3" selected>3 months</option>
              <option value="4">4 months</option>
              <option value="5">5 months</option>
              <option value="6">6 months</option>
              <option value="7">7 months</option>
              <option value="8">8 months</option>
              <option value="9">9 months</option>
              <option value="10">10 months</option>
              <option value="11">11 months</option>
              <option value="12">12 months</option>
            </select>
        </div>

        <div id="kicker-elig-form">
            <label class="question">Eligible for Kicker: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#kicker" onclick="track('Tool Tips', 'Calculator / Eligible for Kicker');" target="_blank" class="info-link" aria-describedby="kicker-elig-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on kickers</span></a></label>
            <span class="aria-tooltip" id="kicker-elig-form-tooltip" role="tooltip">A kicker bonus is an additional incentive, paid for by the Department of Defense, to extend a tour of duty or retain highly skilled military personnel.</span>
            <label class="radio" for="kicker-elig-yes">Yes</label>
            <input id="kicker-elig-yes" name="Kicker Eligible" type="radio" value="yes">
            <label class="radio" for="kicker-elig-no">No</label>
            <input id="kicker-elig-no" name="Kicker Eligible" type="radio" value="no" checked="">
        </div>

        <div id="kicker-form" class="form-group top-aligned">
            <label for="kicker">How much is your kicker? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#kicker" onclick="track('Tool Tips', 'Calculator / How Much is Kicker');" target="_blank" class="info-link" aria-describedby="kicker-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on kickers</span></a></label>
            <span class="aria-tooltip" id="kicker-form-tooltip" role="tooltip">A kicker bonus is an additional incentive, paid for by the Department of Defense, to extend a tour of duty or retain highly skilled military personnel.</span>
            <input id="kicker" type ="text" value="$200" name="How much is your kicker?" alt="Tell us how much is your kicker was for?">
        </div>

      <!-- Eligible for Buy-up -->
        <div id="buy-up-form">
            <label class="question">Participate in buy-up program? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#buy_up" onclick="track('Tool Tips', 'Calculator / Buy Up);" target="_blank" class="info-link" aria-describedby="buy-up-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on buy-up</span></a></label>
            <span class="aria-tooltip" id="buy-up-form-tooltip" role="tooltip">Some Servicemembers may have contributed an additional $600 to the GI Bill to receive increased monthly benefit payments. This increased monthly benefit is only applicable to the Montgomery GI Bill or REAP</span>
            <label class="radio" for="buy-up-yes">Yes</label>
            <input id="buy-up-yes" name="Buy-Up" type="radio" value="yes">
            <label class="radio" for="buy-up-no">No</label>
            <input id="buy-up-no" name="Buy-up" type="radio" value="no" checked>
        </div>

        <div id="buy-up-rate-form" class="form-group top-aligned">
            <label for="buy-up-rate">How much did you pay toward buy-up? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#buy_up" onclick="track('Tool Tips', 'Calculator / Buy Up');" target="_blank" class="info-link" aria-describedby="buy-up-rate-form"><span aria-hidden="true">i</span><span class="sr-only">More information on buy-up</span></a></label>
            <span class="aria-tooltip" id="buy-up-rate-form" role="tooltip"> Some Servicemembers may have contributed an additional $600 to the GI Bill to receive increased monthly benefit payments. This increased monthly benefit is only applicable to the Montgomery GI Bill or REAP</span>
            <select id="buy-up-rate" name="How much did you pay?" alt="Select how much you paid">
              <option value="600">$600</option>
              <option value="580">$580</option>
              <option value="540">$540</option>
              <option value="520">$520</option>
              <option value="500">$500</option>
              <option value="480">$480</option>
              <option value="460">$460</option>
              <option value="440">$440</option>
              <option value="420">$420</option>
              <option value="400">$400</option>
              <option value="380">$380</option>
              <option value="340">$340</option>
              <option value="320">$320</option>
              <option value="300">$300</option>
              <option value="280">$280</option>
              <option value="260">$260</option>
              <option value="240">$240</option>
              <option value="220">$220</option>
              <option value="200">$200</option>
              <option value="180">$180</option>
              <option value="140">$140</option>
              <option value="120">$120</option>
              <option value="100">$100</option>
              <option value="80">$80</option>
              <option value="60">$60</option>
              <option value="40">$40</option>
              <option value="20">$20</option>
            </select>
        </div>
      </div>
</div>

    <div id="calculated-benefits">
      <table>
        <tbody>
          <tr>
            <th colspan="3" style="font-size: 1.3em;border-bottom: 2px solid #fff;">Calculator Results</th>
          </tr>
          <tr id="calc-housing-allow-rate-row">
            <th colspan="2" id="housing-allow-rate" style="font-size: 1.2em;">$0</td>
            <td style="">Housing Allowance</td>
          </tr><tr>
          </tr>
          <tr id="calc-term-total-row">
            <th colspan="2" style="border-bottom: 2px solid #fff;">Total GI Bill Benefits:</th>
            <td id="total-year"style="font-weight: bold;border-bottom: 2px solid #fff;">$0 / yr</td>
          </tr>
          <tr id="calc-paid-to-school-total-row">
            <td colspan="2" style="">Paid to school:</td>
            <td id="total-paid-to-school" style="font-weight: bold;">$0</td>
          </tr>
          <tr id="calc-paid-to-you-total-row">
            <td colspan="2" style="">Paid to You:</td>
            <td id="total-paid-to-you" style="font-weight: bold;">$0</td>
          </tr><tr>
          </tr>
          <tr id="calc-out-of-pocket-row">
            <th colspan="2" style="border-bottom: 2px solid #fff;">Out of Pocket Tuition:</th>
            <td id="total-left-to-pay" style="border-bottom: 2px solid #fff; font-weight: bold;">$0</td>
          </tr>
          <tr id="calc-tuition-fees-charged-row">
            <td colspan="2" style="">Tuition &amp; Fees Charged:</td>
            <td id="total-tuition-fees-charged" style="font-weight: bold;">$0</td>
          </tr>
          <tr id="calc-tuition-fees-scholarship-row">
            <td colspan="2" style="">Your Scholarships:</td>
            <td id="total-tuition-fees-scholarships" style="font-weight: bold;">$0</td>
          </tr>
          <tr id="calc-school-received-row">
            <td colspan="2" style="">GI Bill Pays:</td>
            <td id="total-school-received" style="font-weight: bold;">$0</td>
          </tr><tr>
          </tr>
          <tr id="payments-to-you-terms" style=";">
            <th aria-hidden="true"></th>
            <td class="term1" style="border-bottom: 2px solid #fff;">Fall</td>
            <td class="term2" style="border-bottom: 2px solid #fff;">Spring</td>
            <td class="term3" style="border-bottom: 2px solid #fff;"></td>
            <td class="term4" style="border-bottom: 2px solid #fff;">Total</td>
          </tr>
          <tr id="calc-tuition-fees-row">
            <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuitionfees" onclick="track('Tool Tips', 'Benefit Calculator / Tuition Fees');" target="_blank" alt="Click here for more information about the tuition/fees benefit.">Tuition / Fees Benefit:</a></th>
            <td id="tuition-fees-term-1">$0 / term</td>
            <td id="tuition-fees-term-2">$0 / term</td>
            <td id="tuition-fees-term-3"></td>
            <td id="tuition-fees-total" style="font-weight: bold;">$0 / yr</td>
          </tr>
          <tr id="calc-yellow-ribbon-row">
            <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellowribbon" onclick="track('Tool Tips', 'Benefit Calculator / Yellow Ribbon (School)');" target="_blank" alt="Click here for more information.">Yellow Ribbon (School):</a></th>
            <td id="yr-ben-term-1">$0 / term</td>
            <td id="yr-ben-term-2">$0 / term</td>
            <td id="yr-ben-term-3"></td>
            <td id="yr-ben-total" style="font-weight: bold;">$0 / yr</td>
          </tr>
          <tr id="calc-yellow-ribbon-va-row">
            <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellowribbon" onclick="track('Tool Tips', 'Benefit Calculator / Yellow Ribbon (VA)');" target="_blank" alt="Click here for more information.">Yellow Ribbon (VA):</a></th>
            <td id="yr-ben-term-va-1">$0 / term</td>
            <td id="yr-ben-term-va-2">$0 / term</td>
            <td id="yr-ben-term-va-3"></td>
            <td id="yr-ben-va-total" style="font-weight: bold;">$0 / yr</td>
          </tr>
          <tr>
            <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#housingallowance" onclick="track('Tool Tips', 'Benefit Calculator / Housing Allowance');" target="_blank" alt="Click here for more information about the housing allowance.">Housing Allowance:</a></th>
            <td id="housing-allow-term-1">$0 / month</td>
            <td id="housing-allow-term-2">$0 / month</td>
            <td id="housing-allow-term-3"></td>
            <td id="housing-allow-total" style="font-weight: bold;">$0 / yr</td>
          </tr>
          <tr>
            <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#bookstipend" onclick="track('Tool Tips', 'Benefit Calculator / Book Stipend');" target="_blank" alt="Click here for more information about the book stipend.">Book Stipend:</a></th>
            <td id="book-stipend-term-1">$0 / term</td>
            <td id="book-stipend-term-2">$0 / term</td>
            <td id="book-stipend-term-3"></td>
            <td id="book-stipend-total" style="font-weight: bold;">$0 / yr</td>
          </tr>
        </tbody>
      </table>

    <div style="clear: both;">&nbsp;</div>
  </div>
</div>

  <div style="clear: both;">&nbsp;</div>
  </div>

  <div id="old" style="display: none;">
    <!-- ================================================== -->
    <!--                     Calculator                     -->
    <!-- ================================================== -->

    <a name="calculator"></a>
    <div id="calculator">

      <!-- ================================================== -->
      <!--               Tuition / Fees Section               -->
      <!-- ================================================== -->

      <div id="tuition-fees-section">

        <div class="heading solid navy">
          <h3>Tuition / Fees</h3>
        </div>

        <!-- In-state Residency -->

        <div class="clear"></div>

        <!-- Tuition Fees -->
        <div class="form-group top-aligned">
        <label for="tuition-fees-input">Tuition / Fees (/year): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuition_fees_input" onclick="track('Tool Tips', 'Calculator / Tuition Fees');" target="_blank" class="info-link">i</a></label>
        <input id="tuition-fees-input" type="text" value="$0" name="Tuition Fees" alt="Tuition Fees">
      </div>

        <div class="clear"></div>

        <!-- In-State Tuition Fees -->
        <div id="in-state-tuition-fees-form" class="form-group top-aligned">
        <label for="in-state-tuition-fees">In-state Tuition / Fees (/year): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_receiving" onclick="track('Tool Tips', 'Calculator / In-State Tuition Fees');" target="_blank" class="info-link">i</a></label>
        <input id="in-state-tuition-fees" type="text" value="$0" name="In-state Tuition Fees" alt="In-state Tuition Fees">
      </div>

        <div class="clear"></div>

        <!-- Yellow Ribbon Status -->
        <div class="form-group">
        <span class="question">Receiving Yellow Ribbon? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_from_school" onclick="track('Tool Tips', 'Calculator / Receiving Yellow Ribbon');" target="_blank" class="info-link">i</a></span>

        <input id="yellow-ribbon-recipient-yes" name="Receiving Yellow Ribbon" type="radio" value="yes">
        <label class="radio" for="yellow-ribbon-recipient-yes">Yes</label>


          <input id="yellow-ribbon-recipient-no" name="Receiving Yellow Ribbon" type="radio" value="no" checked>
          <label class="radio" for="yellow-ribbon-recipient-no">No</label>
      </div>

        <div class="clear"></div>

        <!-- Yellow Ribbon Amount -->
        <div id="yellow-ribbon-amount-form" class="form-group top-aligned">
          <label for="yellow-ribbon-amount">Yellow Ribbon Amount From School (/year): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_from_school" onclick="track('Tool Tips', 'Calculator / Yellow Ribbon Amount');" target="_blank" class="info-link">i</a></label>
          <input id="yellow-ribbon-amount" type="text" value="$0" name="Yellow Ribbon Amount From School" alt="Yellow Ribbon Amount From School">
        </div>

        <div class="clear"></div>

        <!-- Yellow Ribbon Rates Link -->
        <div id="yellow-ribbon-rates-link" class="form-group"></div>

        <div class="clear"></div>

        <!-- Scholarships -->
        <div id="scholar-form" class="form-group top-aligned">
          <label for="scholar">Scholarships (not Pell): <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#scholarships" onclick="track('Tool Tips', 'Calculator / Scholarships');" target="_blank" class="info-link">i</a></label>
          <input id="scholar" type ="text" value="$0" name="Scholarships (not Pell)" alt="How much are you receiving in scholarships and not Pell grants">
        </div>

        <!-- Military Tuition Assistance -->
        <div id="tuition-assist-form" class="form-group top-aligned">
          <label for="tuition-assist">Military Tuition Assistance: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#military_tuition_assist" onclick="track('Tool Tips', 'Calculator / Military Tuition Assistance');" target="_blank" class="info-link">i</a></label>
          <input id="tuition-assist" type ="text" value="$0" name="Military Tuition Assistance" alt="How much are you receiving in military tuition assistance">
        </div>

        <div class="clear"></div>
      </div>

      <!-- ================================================== -->
      <!--                 Enrollment Section                 -->
      <!-- ================================================== -->

      <div id="enrollment-section">

      <div class="heading solid navy"><h3>Enrollment</h3></div>

      <div class="clear"></div>

      <!-- Number of non-traditional terms / year -->
      <div id="number-non-traditional-terms-form" class="form-group top-aligned">
        <label for="number-non-traditional-terms">How many terms / year? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'How Many Terms');" target="_blank" class="info-link">i</a></label>
        <select id="number-non-traditional-terms" name="How many terms / year?" alt="Select how many terms / year?">
          <option value="3">Three</option>
          <option value="2" selected>Two</option>
          <option value="1">One</option>
        </select>
      </div>

      <div class="clear"></div>

      <!-- Length of Non Traditional Terms -->
      <div id="length-non-traditional-terms-form" class="form-group top-aligned">
        <label for="how-long-non-traditional-terms">How long is each term? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'Calculator / Non-Traditional Term Length');" target="_blank" class="info-link">i</a></label>
        <select id="how-long-non-traditional-terms" name="How long is each term?" alt="Select how long is each term?">
          <option value="1">1 month</option>
          <option value="2">2 months</option>
          <option value="3" selected>3 months</option>
          <option value="4">4 months</option>
          <option value="5">5 months</option>
          <option value="6">6 months</option>
          <option value="7">7 months</option>
          <option value="8">8 months</option>
          <option value="9">9 months</option>
          <option value="10">10 months</option>
          <option value="11">11 months</option>
          <option value="12">12 months</option>
        </select>
      </div>

      <div class="clear"></div>

      <!-- Eligible for Kicker -->
      <div id="kicker-elig-form" class="form-group">

        <div>
        <span class="question">Eligible for Kicker: <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#kicker" onclick="track('Tool Tips', 'Calculator / Eligible for Kicker');" target="_blank" class="info-link">i</a></span>
       </div>

        <input id="kicker-elig-yes" name="Kicker Eligible" type="radio" value="yes">
        <label class="radio" for="kicker-elig-yes">Yes</label>


        <input id="kicker-elig-no" name="Kicker Eligible" type="radio" value="no" checked>
        <label class="radio" for="kicker-elig-no">No</label>

      </div>

      <div class="clear"></div>

      <!-- Kicker is worth -->
      <div id="kicker-form" class="form-group top-aligned">
        <label for="kicker">How much is your kicker? <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#kicker" onclick="track('Tool Tips', 'Calculator / How Much is Kicker');" target="_blank" class="info-link">i</a></label>
        <input id="kicker" type ="text" value="$200" name="How much is your kicker?" alt="Tell us how much is your kicker was for?">
      </div>

      <div class="clear"></div>

    </div>

      <div class="heading solid navy table"><h3>GI Bill Calculator</h3></div>

      <table class="dark-background">
      <tbody>
        <tr><td colspan="2"></td></tr>
        <tr>
          <td id="institution-calculator" colspan="5"></td>
        </tr>
        <tr>
          <td id="location-calculator" colspan="5" class="normal"></td>
        </tr>
        <tr>
          <td id="type-calculator" colspan="5" class="normal"></td>
        </tr>
        <tr style=";">
          <th>Semester / Total</th>
          <td id="term1">Fall</td>
          <td id="term2">Spring</td>
          <td id="term3"></td>
          <td id="term4">Total</td>
        </tr>
        <tr>
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#housingallowance" onclick="track('Tool Tips', 'Benefit Calculator / Housing Allowance');" target="_blank" alt="Click here for more information about the housing allowance.">Housing Allowance:</a></th>
          <td id="housing-allow-term-1">$0 / month</td>
          <td id="housing-allow-term-2">$0 / month</td>
          <td id="housing-allow-term-3"></td>
          <td id="housing-allow-total">$0 / yr</td>
        </tr>
        <tr>
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#bookstipend" onclick="track('Tool Tips', 'Benefit Calculator / Book Stipend');" target="_blank" alt="Click here for more information about the book stipend.">Book Stipend:</a></th>
          <td id="book-stipend-term-1">$0 / term</td>
          <td id="book-stipend-term-2">$0 / term</td>
          <td id="book-stipend-term-3"></td>
          <td id="book-stipend-total">$0 / yr</td>
        </tr>
        <tr id="calc-paid-to-you-total-row" style="font-size:25px;;">
          <th aria-hidden="true"></th>
          <td id="total-paid-to-you-td" colspan="2" class="normal" style="border-top: 2px solid #fff;text-align:right;"><b>Paid to You:</b></td>
          <td id="total-paid-to-you" style="border-top: 2px solid #fff;">$0</td>
        </tr>
        <tr id="calc-tuition-fees-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuitionfees" onclick="track('Tool Tips', 'Benefit Calculator / Tuition Fees');" target="_blank" alt="Click here for more information about the tuition/fees benefit.">Tuition / Fees:</a></th>
          <td id="tuition-fees-term-1">$0 / term</td>
          <td id="tuition-fees-term-2">$0 / term</td>
          <td id="tuition-fees-term-3"></td>
          <td id="tuition-fees-total">$0 / yr</td>
        </tr>
        <tr id="calc-yellow-ribbon-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellowribbon" onclick="track('Tool Tips', 'Benefit Calculator / Yellow Ribbon (School)');" target="_blank" alt="Click here for more information.">Yellow Ribbon (School):</a></th>
          <td id="yr-ben-term-1">$0 / term</td>
          <td id="yr-ben-term-2">$0 / term</td>
          <td id="yr-ben-term-3"></td>
          <td id="yr-ben-total">$0 / yr</td>
        </tr>
        <tr id="calc-yellow-ribbon-va-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellowribbon" onclick="track('Tool Tips', 'Benefit Calculator / Yellow Ribbon (VA)');" target="_blank" alt="Click here for more information.">Yellow Ribbon (VA):</a></th>
          <td id="yr-ben-term-va-1">$0 / term</td>
          <td id="yr-ben-term-va-2">$0 / term</td>
          <td id="yr-ben-term-va-3"></td>
          <td id="yr-ben-va-total">$0 / yr</td>
        </tr>
        <tr id="calc-paid-to-school-total-row" style="font-size:25px;;">
          <th aria-hidden="true"></th>
          <td id="paid-to-school-td" colspan="2" style="border-top: 2px solid #fff;text-align:right;"><b>Paid to School:</b></td>
          <td id="total-paid-to-school" style="border-top: 2px solid #fff;">$0</td>
        <tr id="calc-tuition-fees-scholarship-row">
          <th aria-hidden="true"></th>
          <td id="tuition-fees-scholarship-td" colspan="2" style="text-align:right;"><b>Your Scholarships:</b></td>
          <td id="total-tuition-fees-scholarships">$0</td>
        <tr id="calc-tuition-fees-charged-row">
          <th aria-hidden="true"></th>
          <td id="tuition-fees-charged-td" colspan="2" style="text-align:right;"><b>Tuition & Fees Owed:</b></td>
          <td id="total-tuition-fees-charged">$0</td>
        <tr id="calc-out-of-pocket-row">
          <th aria-hidden="true"></th>
          <td id="total-left-to-pay-td" colspan="2" style="text-align:right;"><b>Out of Pocket:</b></td>
          <td><span id="total-left-to-pay">$0</span></td>
        <tr id="calc-term-total-row" style="font-size:25px;;">
          <th aria-hidden="true"></th>
          <td id="total-year-td" colspan="2" class="normal" style="text-align:right;"><b>Total Post-9/11 GI Bill Benefits</b></td>
          <td id="total-year" class="normal">$0 / yr</td>
        <tr><td colspan="4"></td></tr>
      </tbody>
    </table>
    </div>
  </div>
  <!-- end old -->

  <div id="calculate-benefits-btn" class="toggle-calc" aria-flowto="benefit-calculator">
    <a href="javascript:toggleCalc()" onclick="GIBComparisonTool.trackOpenCalculator();">How much am I going to get?</a>
  </div>

  <!-- ================================================== -->
  <!--                  Compare Favorites                 -->
  <!-- ================================================== -->
  <div id="about-your-favorites" class="heading solid navy table">
    <h3>Your favorites:</h3>
  </div>
  <div id="compare-favorites">
    <a id="compare-link" href="#dialog" name="modal"> Compare your <span id="number-of-favorites-selected"> </span> favorites </a>
    <div id="your-favorites">
      <ul id="favorites-list"></ul>
    </div>
    <div style="clear: both;">&nbsp;</div>
  </div>


  <!-- ================================================== -->
  <!--                  Veteran Indicators                -->
  <!-- ================================================== -->

  <div id="veteran-indicators">
    <div class="heading solid navy table"><h3>VA Summary<span class="source"><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#sourcedata" onclick="track('Tool Tips', 'Vet Indicators / Source');" target="_blank" alt="Click here for more information." title="Download data file used for the GI Bill Comparison Tool.">Source</a></span></h3></div>
    <table class="dark-background">
      <tbody>
        <tr><td colspan="2"></td></tr>
        <tr>
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#gibillben" onclick="track('Tool Tips', 'Vet Indicators / GI Bill Beneficiaries');" target="_blank" alt="Click here for more information." title="The number of Veterans, Servicemembers and family members utilizing their GI Bill benefits attending this institution the previous calendar year.">GI Bill Students:</a></th>
          <td id="gibill"></td>
        </tr>
        <tr>
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#student_veterans_group" onclick="track('Tool Tips', 'Vet Indicators / Student Veterans Group');" target="_blank" alt="Click here for more information." title="Does this college/university have a student led student veterans group on campus?">Student Veterans Group:</a></th>
          <td id="student-veterans"></td>
        </tr>
        <tr>
        <tr>
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellowribbon" onclick="track('Tool Tips', 'Vet Indicators / Yellow Ribbon');" target="_blank" alt="Click here for more information." title="Has this school agreed to the Yellow Ribbon Program and provide additional support when the Post-9/11 GI Bill does not cover all private degree granting schools and out-of-state tuition?">Yellow Ribbon: <img src="img/yellow_ribbon.gif" class="yellow-ribbon" alt="Yellow ribbon icon"></a></th>
          <td id="yr"></td>
        </tr>
        <tr id="sec-702-row">
          <th><a href="http://benefits.va.gov/gibill/702.asp" onclick="track('Tool Tips', 'Vet Indicators / Section 702');" target="_blank" alt="Click here for more information." title="Does this school comply with the residency rate requirements in section 702 of the Veterans Choice Act?">Complies with In-State Tuition Law:</a></th>
          <td id="sec-702"></td>
        </tr>
        <tr>
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#principles" onclick="track('Tool Tips', 'Vet Indicators / POE');" target=" _blank" alt="Click here for more information." title="Has this school agreed to the Principles of Excellence, guidelines for educational institutions receiving Federal funding?">Principles of Excellence:</a></th>
          <td id="poe"></td>
        </tr>
        <tr>
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#dodmou" onclick="track('Tool Tips', 'Vet Indicators / DOD MOU');" target=" _blank" alt="Click here for more information." title="Is this school eligible for Military Tuition Assistance and signed DOD's Memorandum of Understanding (MOU)?">Military Tuition Assistance (TA):</a></th>
          <td id="dodmou"></td>
        </tr>
        <tr id="vet-success-row">
          <th><a href="https://www.ebenefits.va.gov/ebenefits/vsoc" onclick="track('Tool Tips', 'Vet Indicators / VetSuccess');" target=" _blank" alt="Click here for more information." title="Is this a VetSuccess on Campus?">VetSuccess on Campus:</a></th>
          <td id="vet-success"></td>
        </tr>
        <tr id="eight-keys-row">
          <th><a href="http://www.ed.gov/veterans-and-military-families/8-keys-success-sites" onclick="track('Tool Tips', 'Vet Indicators / 8 Keys');" target=" _blank" alt="Click here for more information." title="Is this school a signatory to Department of Education's 8 Keys to Veterans Success?">8 Keys to Veterans Success:</a></th>
          <td id="eight-keys">Yes</td>
        </tr>
        <tr><td colspan="2"></td></tr>
      </tbody>
    </table>
  </div>


  <!-- ================================================== -->
  <!--          School Summary           -->
  <!-- ================================================== -->

  <div id="school-summary" style="display: none;">
    <div class="heading solid navy table"><h3>School Summary<span class="source"><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#sourcedata" onclick="track('Tool Tips', 'School Summary / Source');" target="_blank" alt="Click here for more information." title="Download data file used for the GI Bill Comparison Tool.">Source</a></span></h3></div>
    <table class="dark-background">
      <tbody>
        <tr id="complaints-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#complaints" onclick="track('Tool Tips', 'Vet Indicators / Complaints');" target=" _blank" alt="Click here for more information." title="The number of closed, Principles of Excellence-related, complaints submitted to VA through the GI Bill Feedback system.">Number of Complaints:</a></th>
          <td id="complaints-total"></td>
        </tr>
        <tr id="caution-indicator-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#caution" onclick="track('Tool Tips', 'School Summary / Caution Flag');" target="_blank" alt="Click here for more information." title="Factors potential students should consider before enrolling in a program of education. These include minor and major issues like accreditation.">Caution Flag(s):</a></th>
          <td id="caution-indicator"></td>
        </tr>
        <tr id="accreditation-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accreditation" onclick="track('Tool Tips', 'School Summary / Accreditation');" target="_blank" alt="Click here for more information." title="Accreditation is a recognized credential for schools and some programs. The goal of accreditation is to ensure that the education provided by institutions of higher education meets acceptable levels of quality">Accredited:</a></th>
          <td id="accreditation"></td>
        </tr>
        <tr id="accreditation-type-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accreditation_type" onclick="track('Tool Tips', 'School Summary / Accreditation Type');" target="_blank" alt="Click here for more information." title="Schools are accredited by private educational associations of regional or national scope. While the Department of Education does not say whether regional or national accreditation is better, a recent ED study revealed that, “Nearly 90 percent of all student credit transfer opportunities occurred between institutions that were regionally, rather than nationally, accredited.”">Accreditation Type:</a></th>
          <td id="accreditation-type"></td>
        </tr>
        <tr id="accreditation-status-row">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accreditation_status" onclick="track('Tool Tips', 'School Summary / Accreditation Status');" target="_blank" alt="Click here for more information." title="To see more information about the school accreditation status, please visit ED’s database of accredited postsecondary institutions and programs. ">Accreditation Status:</a></th>
          <td id="accreditation-status"></td>
        </tr>
        <tr id="p_911_recipients">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#p911_tuitionpaid" onclick="track('Tool Tips', 'School Summary / Post-9/11 Tuition Paid');" target="_blank" alt="Click here for more information." title="The total amount of tuition and fees paid to a school on behalf of a student during the previous fiscal year (October 1st through September 30th).">Post-9/11 Tuition/Fees Paid (FY'14):</a></th>
          <td id="p_911_spent"></td>
        </tr>
        <tr id="p_911_yellow_ribbon">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#p911_tuitionpaid" onclick="track('Tool Tips', 'School Summary / Post-9/11 YR Paid');" target="_blank" alt="Click here for more information." title="Click here for more information.">Post-9/11 Yellow Ribbon Paid (FY'14):</a></th>
          <td id="p_911_yellow_ribbon_spent"></td>
        </tr>
      </tbody>
    </table>
  </div>



  <!-- ================================================== -->
  <!--                  Complaint Box                -->
  <!-- ================================================== -->

  <div id="complaint-box" style="display: none;">
    <div class="heading solid navy table"><h3>Complaint Breakdown<span class="source"><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#sourcedata" onclick="track('Tool Tips', 'Complaint Box / Source');" target="_blank" alt="Click here for more information." title="Download data file used for the GI Bill Comparison Tool.">Source</a></span></h3></div>
    <table class="dark-background">
      <thead>
        <tr><td colspan="3"></td></tr>
        <tr>
          <td id="institution-name-complaint"></td>
          <td style=";">This Campus</td>
          <td style=";"><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#complaints_all_campuses" onclick="track('Tool Tips', 'Complaints / All Campuses');" target="_blank" alt="Click here for more information." title="The number of closed, Principles of Excellence-related, complaints for schools with the same six-digit OPEID code.">All Campuses</a></td>
        </tr>
        <tr class="big-summary">
          <th><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#complaints" onclick="track('Tool Tips', 'Complaints / Breakdown');" target="_blank" alt="Click here for more information." title="The number of closed, Principles of Excellence-related, complaints submitted to VA through the GI Bill Feedback system.">Student Complaints</a></th>
          <td id="complaint-total-fc">0</td>
          <td id="complaint-total-all">0</td>
        </tr>
        <tr class="inner-highlight">
          <th>Complaint by Type</th>
          <td>Total*</td>
          <td>Total*</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Financial Issues (e.g., Tuition/Fee charges)</th>
          <td id="complaint-financial-fc">0</td>
          <td id="complaint-financial-ope">0</td>
        </tr>
        <tr>
          <th>Quality of Education</th>
          <td id="complaint-quality-fc">0</td>
          <td id="complaint-quality-ope">0</td>
        </tr>
        <tr>
          <th>Refund Issues</th>
          <td id="complaint-refund-fc">0</td>
          <td id="complaint-refund-ope">0</td>
        </tr>
        <tr>
          <th>Recruiting/Marketing Practices</th>
          <td id="complaint-recruiting-fc">0</td>
          <td id="complaint-recruiting-ope">0</td>
        </tr>
        <tr>
          <th>Accreditation</th>
          <td id="complaint-accreditation-fc">0</td>
          <td id="complaint-accreditation-ope">0</td>
        </tr>
        <tr>
          <th>Change in degree plan/requirements</th>
          <td id="complaint-degree-plan-fc">0</td>
          <td id="complaint-degree-plan-ope">0</td>
        </tr>
        <tr>
          <th>Student Loans</th>
          <td id="complaint-loans-fc">0</td>
          <td id="complaint-loans-ope">0</td>
        </tr>
        <tr>
          <th>Grade Policy</th>
          <td id="complaint-grade-policy-fc">0</td>
          <td id="complaint-grade-policy-ope">0</td>
        </tr>
        <tr>
          <th>Transfer of Credits</th>
          <td id="complaint-credit-transfer-fc">0</td>
          <td id="complaint-credit-transfer-ope">0</td>
        </tr>
        <tr>
          <th>Post-Graduation Job Opportunities</th>
          <td id="complaint-job-prep-fc">0</td>
          <td id="complaint-job-prep-ope">0</td>
        </tr>
        <tr>
          <th>Release of Transcripts</th>
          <td id="complaint-transcripts-fc">0</td>
          <td id="complaint-transcripts-ope">0</td>
        </tr>
        <tr>
          <th>Other</th>
          <td id="complaint-other-fc">0</td>
          <td id="complaint-other-ope">0</td>
        </tr>
      </tbody>
      <tfoot>
      <tr class="inner-highlight">
        <td colspan="3">*Complaints can have multiple types</td>
      </tr>
      </tfoot>
    </table>
  </div>



  <!-- ================================================== -->
  <!--      School Indicators (Non-Veteran Specific)      -->
  <!-- ================================================== -->

  <div id="school-indicators">
    <div class="heading solid navy table"><h3>School Indicators, Non-Veteran Specific<span class="source"><a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#sourcedata" onclick="track('Tool Tips', 'School Indicators / Source');" target="_blank" alt="Click here for more information." title="Download data file used for the GI Bill Comparison Tool.">Source</a></span></h3></div>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="box">
              <div class="description">
                <h2>Graduation Rates<a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#gradrate" onclick="track('Tool Tips', 'School Indicators / Graduation Rates');" target="_blank" class="info-link" aria-describedby="grad-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on graduation rates</span></a></label>
                <span class="aria-tooltip" id="grad-tooltip" role="tooltip">Data used to calculate an institution’s graduation rate and transfer-out rate, if applicable, come from an institution’s annual submission to the U.S. Department of Education’s Integrated Postsecondary Education Data System (IPEDS) </span>
                <p>Percent of full-time students that graduated within 150% of the expected time for completion. Graduation rate data are based on undergraduate students who enrolled full-time and have never enrolled in college before. This may not represent all undergraduates that attend this institution.</p>
              </div>
              <div>
                <div id="graduation-rates-chart"></div>
              </div>
            </div>
            <div class="box">
              <div class="description">
                <h2>Loan Default Rates<a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#CDR" onclick="track('Tool Tips', 'School Indicators / Loan Default Rates');" target="_blank" class="info-link" aria-describedby="cdr-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on cohort default rates</span></a></label>
                <span class="aria-tooltip" id="cdr-tooltip" role="tooltip">The percentage of an institution’s borrowers who entered repayment on certain Federal student loans in federal fiscal year 2009 (between October 1, 2008 and September 30, 2009) and defaulted before September 30, 2011.</span>
                <p>Percent of student borrowers that failed to repay their Federal student loans within three years of entering repayment.</p>
              </div>
              <div>
                <div id="loan-default-rates-chart"></div>
              </div>
            </div>
            <div class="box">
              <div class="description">
                <h2>Median Borrowing<a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#borrowing" onclick="track('Tool Tips', 'School Indicators / Median Borrowing');" target="_blank" class="info-link" aria-describedby="borrowing-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on borrowing</span></a></label>
                <span class="aria-tooltip" id="borrowing-tooltip" role="tooltip">The median amount of Federal student loans borrowed for students' undergraduate study at the institution. </span>
                <p>Families who borrow typically take out this amount in Federal loans for a student's undergraduate study. Your borrowing may be different. <a href="http://studentaid.ed.gov/repay-loans/understand/plans" onclick="track('Tool Tips', 'School Indicators / Learn About Repayment');" target="_blank">Learn about repayment options &raquo;</a></p>
              </div>
              <div>
                <div id="median-borrowing-chart"></div>
              </div>
            </div>
            <div class="box">
              <div id="navigator-link"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- ================================================== -->
  <!--          More Information About the Tool           -->
  <!-- ================================================== -->

  <div class="about-this-tool">
    <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp" onclick="track('Tool Tips', 'About this Tool');" target="_blank" >About this Tool</a>
    <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#feedback" onclick="track('Tool Tips', 'Feedback');" target="_blank" title="Send us an email at 223D.VBAVACO@va.gov with “Comparison Tool” in the subject line.">Feedback</a>
    <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accessibility" onclick="track('Tool Tips', 'Accessibility');" target="_blank" title="The Comparison Tool is accessible to users utilizing assisted technologies, such as screen readers, screen magnifiers and voice recognition.">Accessibility</a>
    Download Data on All Schools (<!--<a href="api/data.csv" onclick="track('Tool Tips', 'Full Data');">CSV</a>/--><a href="http://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx" onclick="track('Tool Tips', 'Full Data');">Excel</a>)
  </div>

  <div id="searchmodal">
    <div id="advancedsearch" class="modal">
      <div class="mad-lib">
        <h2>Advanced Search</h2>
        <div class="modal-content">
          <fieldset>
            <div class="question">
              <label for="adv_type">I'm looking for a<span id="employer_n">n</span></label>
              <select id="adv_type">
                <option value="school">School</option>
                <option value="ojt">Employer</option>
                <option value="">Both</option>
              </select>

              <label for="adv_state"> in</label>

              <select id="adv_state">
            <option value="">State</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>
          </select>

              <label for="adv_country" title="country">,</span> <select id="adv_country">
            <option value="">Country</option>
            <option value="usa">USA</option>
            <option value="afghanistan">Afghanistan</option>
            <option value="antigua">Antigua</option>
            <option value="argentina">Argentina</option>
            <option value="australia">Australia</option>
            <option value="austria">Austria</option>
            <option value="barbados">Barbados</option>
            <option value="belgium">Belgium</option>
            <option value="belize">Belize</option>
            <option value="bolivia">Bolivia</option>
            <option value="bosniaherzegovina">Bosnia-Herzegovina</option>
            <option value="brazil">Brazil</option>
            <option value="bulgaria">Bulgaria</option>
            <option value="canada">Canada</option>
            <option value="caymanislands">Cayman Islands</option>
            <option value="chile">Chile</option>
            <option value="china">China</option>
            <option value="colombia">Colombia</option>
            <option value="costarica">Costa Rica</option>
            <option value="cyprus">Cyprus</option>
            <option value="czechrepublic">Czech Republic</option>
            <option value="denmark">Denmark</option>
            <option value="dominica">Dominica</option>
            <option value="dominicanrepublic">Dominican Republic</option>
            <option value="ecuador">Ecuador</option>
            <option value="egypt">Egypt</option>
            <option value="elsalvador">El Salvador</option>
            <option value="england">England</option>
            <option value="estonia">Estonia</option>
            <option value="fiji">Fiji</option>
            <option value="finland">Finland</option>
            <option value="france">France</option>
            <option value="georgia">Georgia</option>
            <option value="germany">Germany</option>
            <option value="ghana">Ghana</option>
            <option value="greece">Greece</option>
            <option value="grenada">Grenada</option>
            <option value="guatemala">Guatemala</option>
            <option value="haiti">Haiti</option>
            <option value="honduras">Honduras</option>
            <option value="hongkong">Hong Kong</option>
            <option value="hungary">Hungary</option>
            <option value="iceland">Iceland</option>
            <option value="india">India</option>
            <option value="indonesia">Indonesia</option>
            <option value="ireland">Ireland</option>
            <option value="israeljerusalem">Israel (Jerusalem)</option>
            <option value="israeltelaviv">Israel (Tel Aviv)</option>
            <option value="italy">Italy</option>
            <option value="jamaica">Jamaica</option>
            <option value="japan">Japan</option>
            <option value="jordan">Jordan</option>
            <option value="kenya">Kenya</option>
            <option value="kuwait">Kuwait</option>
            <option value="kyrgyzstan">Kyrgyzstan</option>
            <option value="latvia">Latvia</option>
            <option value="lebanon">Lebanon</option>
            <option value="lithuania">Lithuania</option>
            <option value="malaysia">Malaysia</option>
            <option value="malta">Malta</option>
            <option value="mauritius">Mauritius</option>
            <option value="mexico">Mexico</option>
            <option value="montserrat">Montserrat</option>
            <option value="morocco">Morocco</option>
            <option value="nepal">Nepal</option>
            <option value="netherlands">Netherlands</option>
            <option value="netherlandsantilles">Netherlands Antilles</option>
            <option value="newzealand">New Zealand</option>
            <option value="nicaragua">Nicaragua</option>
            <option value="northernireland">Northern Ireland</option>
            <option value="norway">Norway</option>
            <option value="panama">Panama</option>
            <option value="peru">Peru</option>
            <option value="philippines">Philippines</option>
            <option value="poland">Poland</option>
            <option value="portugal">Portugal</option>
            <option value="romania">Romania</option>
            <option value="russia">Russia</option>
            <option value="scotland">Scotland</option>
            <option value="singapore">Singapore</option>
            <option value="southafrica">South Africa</option>
            <option value="southkorea">South Korea</option>
            <option value="spain">Spain</option>
            <option value="stkitts">St. Kitts</option>
            <option value="stlucia">St. Lucia</option>
            <option value="stvincent">St. Vincent</option>
            <option value="sweden">Sweden</option>
            <option value="switzerland">Switzerland</option>
            <option value="taiwan">Taiwan</option>
            <option value="thailand">Thailand</option>
            <option value="trinidadandtobago">Trinidad And Tobago</option>
            <option value="turkeyexceptadana">Turkey (Except Adana)</option>
            <option value="ukraine">Ukraine</option>
            <option value="unitedarabemirates">United Arab Emirates</option>
            <option value="unitedkingdom">United Kingdom</option>
            <option value="uruguay">Uruguay</option>
        </select>
            </div>

            <div style="margin-top: 10px;">
              <label for="adv_name">called</label> <input id="adv_name" width="100" placeholder="Institution name">
              <button type="submit" id="advsearch">Search</button>
            </div>

          <div class="selections">
            <div class="push-left" style="float: left;">
              <p>Only schools with a:</p>
              <div class="checkbox"><label><input type="checkbox" id="adv_student_veteran">Student Veteran Group</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_yr">Yellow Ribbon Scholarships</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_poe">Principles of Excellence (POE)</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_eight_keys">8 Keys to Veteran Success</input></label></div>
            </div>
            <div class="push-right" style="float: left; margin-left: 10px;">
              <p>Types of Schools You are Looking For:</p>
              <div class="checkbox"><label><input type="checkbox" id="adv_public">Public</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_private">Private</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_forprofit">For Profit</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_ojt">On-the-job Training</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_foreign">Foreign</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_flight">Flight</input></label></div>
              <div class="checkbox"><label><input type="checkbox" id="adv_correspondence">Correspondence</input></label></div>

            </div>
        </fieldset>

        <div class="advanced-results">
          <h4 id="adv_results_n">Search Results</h4>
          <div class="download button"></div>
          <iframe id="ie_download_frame" style="visibility:hidden;display:none"></iframe>

          <ul class="results-list"></ul>

          <div id="adv_clear"></div>
        </div>
        <div>
          <a href="#" class="close">x Close</a>
        </div>
      </div>
    </div>
  </div>

  <div id="mask"></div>

  <div id="comparemodal">
    <div id="dialog" class="window">
      <h2>Your Favorites</h2>
      <a href="#" class="close">x Close</a>
      <div id='school-list'>
      </div>
    </div>
    <div id="comparemask"></div>
  </div>

</div>

<!-- </div> -->

